/* external css: flickity.css */

/* Page Styles */
html {
  font-size: 1.125em;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: #efd06a;
}

.title {
  font-family: 'Lobster', sans-serif;
  padding: 0 10%;
  text-align: center;
  color: #36454f;
  font-size: 2.25em;
}

.top-button-spacer {
  height: 50px;
}

.button {
  margin: 20px;
  min-width: 130px;
  max-width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  padding: 7.5px 15px;
  border: 2px solid #36454f;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 0.85em;
  color: #ffffff;
  border-color: #36454f;
  background-color: #36454f;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-weight: normal;
}
.button .button-inline {
  display: inline;
}
.button a {
  text-decoration: none;
  color: #ffffff;
}
.button:hover {
  cursor: pointer;
}
.button:focus {
  border-color: #36454f;
  background-color: #36454f;
}
.button:disabled {
  cursor: auto;
  border-color: #ecf0f1;
  background-color: #ecf0f1;
}
.button:disabled:hover {
  font-weight: normal;
}

.carousel-cell {
  width: calc(100vmin - 150px);
  /* leaves room for the header and the button to add more photos */
  height: calc(100vmin - 150px - 50px);
  margin-right: 10px;
  background: #36454f;
  display: flex;
  align-items: center;
}

.carousel-cell-image {
  display: block;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .flickity-page-dots {
    display: none;
  }
  .carousel-cell {
    width: calc(100vmin - 75px);
    height: calc(100vmin - 75px);
  }
}

@media screen and (max-width: 500px) {
  .carousel-cell {
    width: calc(100vmin - 50px);
    height: calc(100vmin - 50px);
  }
}
